body {
background-image:url("../imgs/background.jpg")
}
/*header{*/
/*background-color:rgba(0,0,0,0.3);*/
/*color:white;*/
/*}*/
.btn-iutag{
background-color:orange;
color:white;
}
form{
    background-color: rgba(255,255,255,0.4);
    padding: 70px;

}
input.form-control{
    background-color: rgba(255,255,255,0.8) !important;
    border:none;
}
.nav{
    box-shadow: 0px 0px 10px rgba(255,255,255,0.9);
    background-color: rgba(255,255,255,0.8);
    content: none;
    color: black !important;
}
a#admin{
content:none !important;
color:black !important;
}
.jumbotron{
    background-color: rgba(255,255,255,0.2) !important;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.7);
    color:white !important;
}
@media (max-width: @screen-xs-max){
    form{
        padding:0;
    }
}

